/* .props{
    background-color: aliceblue;
} */

AppShel{
    background-color: blue;
}

/* div{
    background-color: pink;
} */

html {
    background-color:white;
    }

/* UserContext.Provider{
    background-color: black;
} */

