ul{
    color:pink;
    font-size: 40px;
    list-style: none;
    text-align: left;
}
img{
    
        height: 50px;
        pointer-events: none;
        border-radius: 50%;
        margin : 0px;
      
}

.message{
    background-color: white;
}
